<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ settings.APP_NAME }}</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    {% block head %}{% endblock %}
</head>
<body class="antialiased bg-slate-200 flex flex-col font-sans min-h-screen text-slate-700">
    {% block body %}{% endblock %}
</body>
</html>
