<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Slim4 Demo</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
</head>
<body class="antialiased bg-slate-200 flex flex-col font-sans min-h-screen text-slate-700">
    <header class="bg-white">
        <nav class="container mx-auto flex items-center justify-between h-16">
            <h1><a href="{{ url_for('index') }}" class="p-3 hover:bg-slate-100 font-medium rounded">Slim 4 Demo</a></h1>
            <div>
                <a href="{{ url_for('login') }}" class="p-3 hover:bg-slate-100 rounded">Login</a>
                <a href="{{ url_for('register') }}" class="p-3 hover:bg-slate-100 rounded">Register</a>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
