{% extends 'layouts/auth.twig' %}

{% block content %}

    <main class="flex flex-col flex-grow items-center justify-center">
        <h2 class="text-7xl font-thin text-slate-500">Home</h2>
    </main>

{% endblock %}
