{% extends 'layouts/guest.twig' %}

{% block content %}

    <main class="flex flex-col flex-grow items-center justify-center">
        <h2 class="text-7xl font-thin text-slate-500">Index</h2>
    </main>

{% endblock %}
